# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
*.env
venv/
.venv/
env/

# Django
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/logs/*.log

# Flutter
frontend/sedad_bank/.dart_tool/
frontend/sedad_bank/.flutter-plugins
frontend/sedad_bank/.flutter-plugins-dependencies
frontend/sedad_bank/build/
frontend/sedad_bank/.packages
frontend/sedad_bank/pubspec.lock

# Docker
*.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
