Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.3.1
django-filter==23.4
drf-spectacular==0.27.0
python-decouple==3.8
psycopg2-binary==2.9.9
requests>=2.25
gunicorn==21.2.0
Pillow==10.2.0
sib-api-v3-sdk==7.6.0
